node_modules
# below is a bug in laravel mix
# all the images with be copied into public/assets/images
# for some reason it makes another folder named images and copies some images in there
# we just ignore it
/images