// Body
$body-bg: #f8fafc;

// Typography
$font-family-roboto-condensed: "Roboto+Condensed", sans-serif;
$font-family-roboto-condensed-bold: "Roboto+Condensed:700", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$carousel-control-color: #fff;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$theme-colors: (
  "logo-blue": #26a2da,
  "logo-red": #ff1919,
  "wordpress-color": #21759b,
);