// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link{
  color: #fff !important; 
}

.nav-link:hover{
  color: #26a2da !important;
}

.logo{
  height: 45px;
  width: 45px;
}

.text-logo-red{
  color: #ff1919;
}

.text-logo-blue{
  color: #26a2da;
}

.see-through{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

.overflow{
  overflow: hidden;
}

.overflow-x{
  overflow-x: hidden;
}

.underline{
  text-decoration: underline;
}

.cursor{
  cursor: pointer;
}

.extra-large{
  font-size: 5rem;
}

.large{
  font-size: 3.2rem;
}

.no-row-margin{
  margin-left: 0;
  margin-right: 0;
}

.wide{
  width: 4000px;
}

.negative-margin-top{
  margin-top: -1.5rem;
}

.photo{
  border-radius: 50%;
  border: 1.5px solid #212529;
  width: 21rem;
}

.navbar-dark{
  background: #333 !important;
}

.modal-padding{
  padding-right: 2px !important;
}