.home{
    background-position: center;
    background-size: cover;
    height: 70vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/index/code.jpg);
}

.triangle-down {
    margin-left: auto;
    margin-right: auto;
	width: 0;
	height: 0;
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-top: 2rem solid #212529;
    color: #212529;
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)) );
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    background: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

.particles{
    height: 30vh;
}

.modal-padding{
    padding-right: 0.15rem;
}

.photo{
    border-radius: 50%;
    border: 1.5px solid #212529;
    width: 19rem;
}

.carousel-index{
    width: 100%;
}

@media(min-width: 576px){
    .particles{
        height: 37vh;
    }

    .carousel-index{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
}

@media(min-width: 768px){
    .carousel-index{
        width: 90%;
    }
}

@media(min-width: 992px){
    .carousel-index{
        width: 85%;
    }
}

/* extra large */
@media(max-width: 2500px){
    .home{
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/index/code-extra-large.jpg);
    }
}

/* large */
@media(max-width: 1300px){
    .home{
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/index/code-large.jpeg);
    }
}

/* medium */
@media(max-width: 850px){
    .home{
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/index/code-medium.jpeg);
    }
}

/* mobile*/
@media(max-width: 600px){
    .home{
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/index/code-mobile.jpeg);
    }
}